[submodule "msInventory"]
	path = msInventory
	url = https://github.com/xStarH4ndx/ARQ-TWO-MS-INVENTORY.git
[submodule "msPayments"]
	path = msPayments
	url = https://github.com/xStarH4ndx/ARQ-TWO-MS-PAYMENTS.git
[submodule "Apigateway"]
	path = Apigateway
	url = https://github.com/xStarH4ndx/ARQ-TWO-APIGATEWAY.git
[submodule "msUsers"]
	path = msUsers
	url = https://github.com/xStarH4ndx/ARQ-TWO-MS-USER.git
[submodule "k8s/arq-two-backend/arqFront"]
	path = k8s/arq-two-backend/arqFront
	url = https://github.com/xStarH4ndx/ARQ-TWO-FRONT.git
